body {
  min-height: 100vh;
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
}

header {
  font-family: "Merriweather", serif;
}
.container {
  max-width: 60%;
}
h1,
h5,
h3,
h6 {
  text-align: center;
}
body {
  font-family: "Merriweather", serif;
  margin: 100px 75px;
}
.today {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px;
  max-width: 600px;
  min-width: 200px;
  background-color: rgb(253, 187, 244);
}
#celsius-link,
#fahrenheit-link {
  text-decoration: none;
  color: black;
  font-size: 15px;
  position: relative;
  top: -10px;
  left: 8px;
}

.todayEmoji {
  margin-left: 50px;
  font-size: 50px;
}

#local-input {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
#search-input {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.col {
  max-width: 150px;
}
.nextOne {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(253, 187, 244);
}
.nextTwo {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(253, 187, 244);
}
.nextThree {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(253, 187, 244);
}
.nextFour {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(253, 187, 244);
}
.nextFive {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(253, 187, 244);
}
footer {
  text-align: center;
}
